{% load staticfiles %}
<!DOCTYPE html>
<head>
	<meta name="Copyright" content="The Vinyl Villains: Musical Instrument Animator">
	<meta charset='UTF-8'>
	<meta name='viewport' content="width=device-width, initial-scale=1">
	<meta name="ROBOTS" content="ALL">
	<meta name="Keywords" content="Blender, TVV, The Vinyl Villains, animated musicians">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<header>
{% block header %}
{% endblock %}
</header>
<body>
{% block content %}
{% endblock %}
</body>
