<!DOCTYPE html>
{% load static %}
{% get_media_prefix as MEDIA %}
{% block header %}
<head>
	{% block page_meta %}
	<meta name="Copyright" content="The Vinyl Villains: Musical Instrument Animator">
	<meta charset='UTF-8'>
	<meta name='viewport' content="width=device-width, initial-scale=1">
	<meta name="ROBOTS" content="ALL">
	<meta name="Keywords" content="Blender, TVV, The Vinyl Villains, animated musicians">
	{% endblock %}

	{# Vendor styles #}
	{% block vendor_css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/vendor.css' %}" />
	{% endblock %}

  {# Global styles #}
  	{% block site_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/application.css' %}" />
  	{% endblock %}

  {# Page-specific styles #}
  {% autoescape off %}
    {% block page_css %}{% endblock %}
  {% endautoescape %}

  {% block extra_head %}
    {# Extra header stuff (scripts, styles, metadata, etc) #}
  {% endblock %}

  <title>{% block page_title %}{% endblock %}</title>
</head>
{% endblock %}
<body>
{% block content %}
{% endblock %}
</div>
</body>
