{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}
	<div class="border-top pt-3">
		<small class="text-muted">
			Not signed up? <a class="ml-2" href="{% url 'register_user' %}">Sign Up Here</a>
		</small>
	</div>

  <form action="" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    {% csrf_token %}
    <input type="submit" value="{% url 'Login' %}" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}