{% extends "base.html" %}

{% block title %}User Registration
{% endblock %}
{% block content %}
<div class="content-section">
	<legend class="border-bottom mb4">Register for all the fun!
	<form method="POST" class="form-group">
		{% csrf_token %}
		<fieldset class="form-group">
			{{form}}
			<button class="btn btn-primary" href="{% url 'register_user' %}">Register</button>
		</fieldset>
	</form>
	</legend>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already signed up? <a class="ml-2" href="/login">Login in Here</a>
		</small>
	</div>
</div>
{% endblock %}